* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*:focus {
  outline-offset: 2px;
  outline-color: #3C6255;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FCFFE7;
  /* background-color: #163d0f; */
}

main {
  max-width: 600px;
  width: 100%;
  position: relative;
  padding: 30px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
}

h1 {
  font-size: 3em;
  color: #3C6255;
}

h3 {
  font-size: 1.7em;
  color: #3C6255;
}

button {
  appearance: none;
  border: none;
  background-color: var(--bg);
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  color: rgb(240, 240, 240);
}

img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* TÍTULO, CHANCES */
.topo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerChances {
  color: #e71e1edc;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* TÍTULO, CHANCES */

/* DICA, BOTÃO DE DICA; LETRAS TESTADAS; PALAVRAS TESTADAS */
.containerDica button {
  background-color: #1c946a;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  transition: all ease .3s;
}

.containerDica button:hover {
  background-color: #137a56;
}

.containerDica button:disabled {
  /* background-color: #1f684e6b; */
  pointer-events: none;
}

.containerDica .dica {
  opacity: 0;
  transition: all ease .3s;
  letter-spacing: 1px;
  /* padding: 3px 10px; */
  border-radius: 15px;
  text-transform: capitalize;
  font-size: .9em;
}

.containerDica .active {
  opacity: 1;
}

.containerletrasTestadas {
  padding-bottom: 30px;
}

.containerletrasTestadas .d .title {
  color: #0d4934;
  font-size: 1em;
  text-transform: capitalize;
}

.containerletrasTestadas .d div {
  display: inline;
}

#letrasTestadas {
  text-transform: uppercase;
}

/* DICA, BOTÃO DE DICA; LETRAS TESTADAS; PALAVRAS TESTADAS */

/* INPUT CHUTE PALAVRA; BOTÃO CHUTAR */
.chuteContainer {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}

.conatinerInput {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

#chutePalavra {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  padding: 10px;
}

#chutePalavra:disabled {
  background-color: #d1d1d1d0;
}

.btnChutar {
  align-self: flex-end;
  background-color: #3C6255;
  height: 42px;
}

/* INPUT CHUTE PALAVRA; BOTÃO CHUTAR */

/* OUTPUT FORCA */
.containerForca {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.forca {
  padding: 9px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 7px;
  margin: 20px 0px;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
}

/* OUTPUT FORCA */

/* CHUTE LETRA; BOTÃO CHUTE LETRA */
.containerChutarLetra {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  height: 42px;
}

#letraChutada {
  width: 50px;
  height: 100%;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  font-size: 1.3em;
}

.existe {
  height: 100%;
  padding: 7px 15px;
  text-align: center;
}

/* CHUTE LETRA; BOTÃO CHUTE LETRA */


/* BOTÃO RESETAR; BOTÃO GERAR NOVA PALAVRA */
.botoes {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 15px;
  margin-bottom: 15px;
}

.resetar {
  border: 1px solid var(--bg);
  background: transparent;
  color: black;
  transition: all .3s ease;
}

.resetar:hover {
  background-color: var(--bg);
  color: white;
}

#gerador {
  flex: 1;
  transition: all ease .5s;
}

#gerador:hover {
  background-color: #0d4934;
  border-radius: 40px;
}

#gerador:hover:disabled {
  border-radius: 5px;
}

#gerador:disabled,
.btnChutar:disabled {
  background-color: #1f684e6b;
  cursor: not-allowed;
}

/* BOTÃO RESETAR; BOTÃO GERAR NOVA PALAVRA */

/* OUTPUT ACERTOS PALAVRAS ACERTADAS*/
#acertos {
  width: 100%;
  display: inline-block;
}

#acertos .palavrasCertas {
  color: #3C6255;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}

.containerCarregar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
  opacity: 1;
  transition: all ease 1s;
}
.carregar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 10px solid #3c6255b2;
  border-top: 10px solid #fff;
  animation: carregar .6s infinite linear;
}

.parou {
  /* display: none; */
  opacity: 0;
  z-index: -1;
}

@keyframes carregar {
  to {
    transform: rotate(360deg);
  }
}

/* OUTPUT ACERTOS PALAVRAS ACERTADAS*/

@media (max-width: 425px) {
  main {
    padding: 18px;
  }

  .topo {
    flex-direction: column;
    align-items: flex-start;
  }

  .topo .containerChances {
    align-items: flex-start;
    margin: 10px 0px;
  }

  .topo .containerChances img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .chuteContainer {
    /* flex-direction: column; */
    align-items: flex-start;
  }
  .chuteContainer #chutePalavra{
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
    border-radius: 0;
    flex: 1;
    max-width: 462px;
  }

  .btnChutar {
    flex: .5;
    /* align-self: stretch; */
  }

  .containerForca {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .forca {
    flex: 1;
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }

  .containerChutarLetra {
    width: 100%;
  }

  .containerChutarLetra .existe {
    flex: 1;
  }

  .botoes{
    flex-direction: column;
  }
}